* {
    margin: 0;
    border: 0;
    padding: 0;
    outline: 0;
}

.menu{
    img{
        margin-top: 10px;
        margin-left: 16px;
        width: 24px;
        height: 24px;
    }
    label{
        float: right;
    }
    .hamburger{
        margin-top: 16px;
        margin-bottom: 16px;
        margin-right: 16px;
        display: block;
        position: relative;
        content: "";
        width: 18px;
        height: 2px;
        background-color: #060A24;
        transition: background-color .2s;
    }
    .hamburger::before,.hamburger::after{
        display: block;
        position: absolute;
        content: "";
        width: 100%;
        height: 100%;
        background: #060A24;
        transition: transform .2s ease-out;
    }
    .hamburger::before{
        top: -5px;
    }
    .hamburger::after{
        top: 5px;
    }
    input{
        display: none;
    }
    nav{
        clear: both;
    }
    .nav-links{
        background: #0000EC;
        max-height: 0;
        overflow: hidden;
        transition: max-height .4s ease-in-out;
        list-style: none;
        font-size: 25px;
    }
    input:checked ~ nav ul{
        max-height: 500px;
    }
    input:checked ~ label span{
        background: transparent;
    }
    input:checked ~ label span::before{
        transform: rotate(-45deg);
        top: 0;
    }
    input:checked ~ label span::after{
        transform: rotate(45deg);
        top: 0;
    }
    nav li{ 
        list-style: none;
        a{
        text-decoration: none;
        color: #ffffff;
        margin-bottom: 24px;
        font-family: 'IBM Plex Mono', monospace;;
        font-size: 16px;
        letter-spacing: 0;
        line-height: 28px;
        padding-left: 16px;
        }
    }

}

/* teminado el menu hamburguesa*/

.title{
    display: flex;
    flex-flow: row wrap;
    h1{
        font-family: 'IBM Plex Sans', sans-serif;
        font-size: 36px;
        color: #060A24;
        line-height: 42px;
        padding-left: 16px;
        padding-right: 16px;
    }
    p{
        font-family: 'IBM Plex Mono', monospace;
        font-size: 14px;
        line-height: 22px;
        justify-content: center;
        color: #060A24;
        padding-left: 16px;
        padding-right: 16px;
    }
}
.button{
    display: flex;
    justify-content: center;
    button{
        width: 288px;
        background: #00F3BB;
        height: 48px;
        margin-bottom: 24px;
        margin-top: 16px;
        font-family: 'IBM Plex Mono', monospace;
    }
}
/*boton para movil */
.box{
    background-image: linear-gradient(225deg, #0000FF 0%, #0000A3 100%);
    margin-top: 40px;
    padding-top: 20px;
    padding-bottom: 70px;
    transform: skewY(-5deg);
    h3{
        color: white;
        font-size: 36px;
        margin-bottom: 20px;
        margin-left: 16px;
        transform: skewY(5deg);
        margin-top: 50px;
        font-family: 'IBMPlexSans', sans-serif;
        font-weight: normal;
    }
    .spotify{
        transform: skewY(5deg);
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        align-content: center;
        justify-content: space-between;
        .startframe{
            display: flex;
            flex-flow: row wrap;
            justify-content: center;
        }
        .endframe{
            display: flex;
            flex-flow: row wrap;
            justify-content: center;
        }
    }
}
/* spotify terminado movil*/
.phone{
    display: flex;
    flex-flow: row wrap;
    position: relative;
    margin-top: -50px;
    z-index: 5;
    justify-content: center;
    img{
        max-width: 320px;
        justify-content: center;
    }
    .text{
        padding-right: 16px;
        padding-left: 16px;
        h3{
            font-family: 'IBM Plex Sans', sans-serif;
            font-size: 36px;
            line-height: 42px;
            color: #060A24;
            font-weight: bold;
        }
        p{
            font-family: 'IBM Plex Mono', monospace;
            font-size: 14px;
            line-height: 22px;
            justify-content: center;
            color: #060A24;
        }
    }
}
/*phone terminado en movil*/
.imagenes {
    h3{
        font-family: 'IBM Plex Sans', sans-serif;
        font-size: 36px;
        line-height: 42px;
        color: #060A24;
        padding-left: 16px;
        padding-right: 16px;
    }
    
    img{
    max-width: 100%;
    display: block;
    margin: auto;
    }
}

/* imagenes terminadas en movil*/
.topics {
    h3{
        font-family: 'IBM Plex Sans', sans-serif;
        font-size: 36px;
        color: #060A24;
        letter-spacing: 0;
        line-height: 42px;
        padding-left: 16px;
    }
    img{
        display: flex;
        flex-flow: row wrap;
        margin: auto;
    }
    h5{
        font-family: 'IBM Plex Sans', sans-serif;
        text-align: center;
        font-size: 24px;
        color: #060A24;
    }
}
/*topics terminados*/
.box_special{
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 250px;
    overflow: hidden;
}
.box_special::before {
    position: absolute;
    z-index: -1;
    content: "";
    top: 7.5vw;
    height: 200%;
    width: 500%;
    transform: skewY(355deg);
    background-image: linear-gradient(225deg, #0000ff 0%, #0000a3 100%);
}

.sub-box{
    h2{
        font-family: 'IBM Plex Sans', sans-serif;
        font-size: 36px;
        line-height: 42px;
        text-align: center;
        color: #ffffff;
        display: block;
        margin: auto;
        font-weight: normal;
        margin-top: 60px;

    }
}
/* Terminado*/
.copy{
    display: flex;
    justify-content: center;
    font-family: 'IBM Plex Mono', monospace;
    margin-top: 24px;
}
.redes{
    display: flex;
    justify-content: space-around;
    margin-top: 16px;
    margin-bottom: 31px;
}
/*Terminado*/


@media (min-width: 800px) {
    .menu{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        cursor: unset;
        img{
            margin-left: 6.95%;
        }
        .hamburger{
            display: none;
        }
        .nav-links{
            display: flex;
            flex-direction: row;
            justify-content: space-evenly;
            background: white;
            max-height: 80px;
            margin-right: 84px;
            width: 600px;
            
            li{
                list-style: none;
                padding: 1.5%;
                a{
                    position: relative;
                    text-decoration: none;
                    color: #060A24;
                    font-size: 16px;
                    font-family: 'IBM Plex Mono', monospace;
                }
                a:hover{
                    color: #00F3BB;
                    text-decoration: line-through;
                }
                a:active{
                    font-family: 'IBM Plex Mono';
                    font-size: 16px;
                    color: rgba(6,10,36,0.56);
                    letter-spacing: 0;
                    line-height: 28px;
                    text-decoration: line-through;
                }
            }
        }
    }
    /* Menu en pc terminado, falta active*/
    .title{
        display: flex;
        flex-flow: column wrap;
        margin-left: 13.88%;
        .color{
            color: #0000EC;
        }
        p{
            width: 628px;
        }
    }
    .button{
        display: flex;
        flex-flow: wrap row;
        justify-content: flex-start;
        padding-left: 16px;
        margin-left: 13.88%;
        button{
            width: 226px;
            background: #00F3BB;
            height: 48px;
            margin-bottom: 24px;
            margin-top: 16px;
        }
        button:hover{
            background-image: linear-gradient(225deg, #0000FE 0%, #00F0B8 100%);
            color: #FFFFFF;
        }
    }
    /*boton en pc terminado*/
    .box{
        display: flex;
        flex-direction: column;
        
        h3{
            font-family: 'IBMPlexSans', sans-serif;
            font-weight: normal;
            margin-left: 13.88%;
            margin-top: 10%;
        }
        .spotify {
            display: flex;
            flex-direction: column;
            margin-top: 50px;
            align-items: center;
            .startframe{
                flex-flow: row wrap;
                justify-content: center;
            } 
            .endframe{
                flex-flow: row wrap;
                justify-content: center;
                margin-top: 74px;
            }
        }
            iframe{
                width: 584px;
                height: 232px;
                padding-right: 60px;
            }
    }
    /*Terminados spotify*/
    .phone{
        display: flex;
        flex-direction: row;
        justify-content: center;
        img{
            max-width: unset;
            height: 660px;
            margin-right: 50px;
        }
        .text{
            flex-direction: column;
            justify-content: center;
            width: 464px;
            margin-top: 150px;
            h3{
                font-family: 'IBMPlexSans', sans-serif;
                font-weight: normal;
            }
            p{
                margin-top: 24px;
            }
        }
    }
    /*Terminado para pc*/
    .imagenes{
        display: flex;
        flex-flow: column wrap;
        margin-right: 0;
        h3{
            margin-left: 13.8%;
            margin-bottom: 36px;
            font-family: 'IBMPlexSans', sans-serif;
            font-weight: normal;
        }
        .row{
            display: flex;
            flex-flow: row wrap;
        }
        img{
            width: 33.3%;
            height: auto;
            margin:0;
            padding: 0;
        }
    }
    /*Terminado para pc*/
    .topics{
        display: flex;
        flex-flow: column wrap;
        margin-top: 64px;
        h3{
            margin-bottom: 69px;
            margin-left: 13.88%;
            font-family: 'IBMPlexSans', sans-serif;
            font-weight: normal;
        }
        .img-topics{
            display: flex;
            flex-flow: row wrap;
            justify-content: space-around;
            .topic-1, .topic-2, .topic-3, .topic-4{
                display: flex;
                flex-flow: column wrap;
                
                h5{
                    text-align: center;
                    font-size: 24px;
                    color: #060A24;
                    font-family: 'IBM Plex Sans', sans-serif;
                    max-width: 220px;
                }
            }
        }
    }
    /*Terminado para pc*/
    .box_special{
        position: relative;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        height: 450px;
        overflow: hidden;
    }
    .box_special::before {
        position: absolute;
        z-index: -1;
        content: "";
        top: 7.5vw;
        height: 200%;
        width: 500%;
        transform: skewY(355deg);
        background-image: linear-gradient(225deg, #0000ff 0%, #0000a3 100%);
    }
    .sub-box{
        padding-top: 200px;
        display: flex;
        flex-flow: column wrap;
        justify-content: center;
        h2{
            font-family: 'IBM Plex Sans', sans-serif;
            font-size: 36px;
            line-height: 42px;
            text-align: center;
            color: #ffffff;
            display: flex;
            flex-flow: wrap row;
            justify-content: center;
            margin-bottom: 60px;
        }
        .button{
            display: flex;
            flex-flow: row wrap;
            justify-content: center;
            margin-left: 0;
            padding-left: 0;
        }
    }
    /*Terminado para pc*/
    .pagfoot{
        display: flex;
        flex-flow: row wrap;
        justify-content: space-between;
        padding-left: 100px;
        padding-right: 100px;
        height: 95px;
        align-items: center;

        .redes{
            width: 200px;
            font-size: 18px;
            justify-content: space-around;
            margin-top: 36px;
            background-color: #FFFFFF;
            height: 18px;
            a{
                text-decoration: none;
                color: #060A24;
            }
            button{
                height: 18px;
            }
        }
    }
}
/* Finalizado, esperar correcciones*/